<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hello,</h1>
    <p>
      
      <% if @study.status === 'DICOM File'%>
      	We got a DICOM file of <%= @study.name %>.<br/>
      <% else %>
      	We got your file, however it was not a DICOM file. Can you check and upload it again?
      <% end %>
      
      Thank you. 
    </p>
  </body>
</html>