<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hello Dr. Evil,</h1>
    <p>
      A new DICOM file of <%= @study.name %> has been uploaded. <br/>
    </p>
  </body>
</html>