<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hello Dr. Evil,</h1>
    <p>
    	<% if @study.status === 'DICOM File' %>
    	A new DICOM file of <%= @study.name %> has been uploaded. <br/>
    	You can check the file at <a href="http://blazing-dawn-4586.herokuapp.com/studies">the site</a>
    	<% else %>
    	A new file has been uploaded, but it is not a DICOM file. We sent email to the sender to upload a correct DICOM file.
    	<% end %>
      Thank you.
    </p>
  </body>
</html>